@CHARSET "UTF-8";

body {
	color: #ffffff;
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 5px;
	font: normal 0.9em/150% 'Abel', sans-serif;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}

select {margin-left: 10px;}

input {
    width: 100%;
    cursor: pointer;
    background: #e0e0e0;
    box-shadow: none;
    border: none;
    border-radius: 0px;
}

input[type=checkbox] {
    margin-right: 10px;
}

#blockout {
	position: absolute;
	margin: auto;
	bottom: 0px;
	left: 0px;
	top: 0px;
	right: 0px;
	font: normal 0.9em/150% 'Abel', sans-serif;
	font-size: 13px;
	text-align: center;
	font-weight: bold;
	background: grey;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	float: inherit;
	visibility: hidden;
}

#popupwindow {
	position: absolute;
	margin: auto;
	bottom: 0px;
	left: 0px;
	top: 0px;
	right: 0px;
	font: normal 0.9em/150% 'Abel', sans-serif;
	font-size: 13px;
	text-align: center;
	font-weight: bold;
	background: black;
	width: 312px;
	height: 325px;
	border-radius: 5px;
	border: 0px;
	z-index: 10;
	float: inherit;
	opacity: 1;
	visibility: hidden;
	background: #ffffff;
	color: #000000;
}

#userinput {
	position: absolute;
	margin: auto;
	bottom: 0px;
	left: 0px;
	top: 0px;
	right: 0px;
	font: normal 0.9em/150% 'Abel', sans-serif;
	font-size: 13px;
	text-align: center;
	font-weight: bold;
	background: black;
	width: 350px;
	height: 325px;
	border-radius: 5px;
	border: 0px;
	z-index: 10;
	float: inherit;
	opacity: 1;
	visibility: hidden;
	background: #ffffff;
	color: #000000;
}

a {
	text-decoration: none;
}

.popuptitle {
	width: 100%;
	clear: both;
	height: 20px;
	margin: auto;
	text-align: center;
	padding-top: 2px;
	background: #2ECC71;
	color: #ffffff;
}

A.closebutton {
	float: right;
	text-decoration: none;
	color: #ffffff;
}

.slider {
	width: 100%;
	clear: both;
	border-color: transparent;
	border-width: 0px;
    box-shadow: none;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 5px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 30px;
  width: 10px;
  background: #0082c8;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]::-moz-range-thumb {
  height: 30px;
  width: 10px;
  background: #0082c8;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  height: 30px;
  width: 10px;
  background: #0082c8;
  cursor: pointer;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #939393;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #e0e0e0;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #e0e0e0;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}


input[type=range]:focus::-ms-fill-lower {
  background: #939393;
}

input[type=range]:focus::-ms-fill-upper {
  background: #24698e;
}

.lineout-full {
	width: 100%;
	clear: both;
    padding: 5px 0px;
}

.lineout-left {
	float: left !important;
}

.lineout-right {
	float: right !important;
}

#storeResult {
	background: #2ECC71;
	color: #ffffff;
	border: 0px;
	padding: 5px;
}

#submitdesc {
	padding: 2px;
}

#drawer {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	float: right;
	opacity: 1;
	background: #414141;
    width: 362px;
    padding: 2px;
}

#drawerhandle {
	position: relative;
	top: 5px;
	float: left;
	width: 15px;
	font-size: 15px;
	letter-spacing: 15px;
	background: #0079C8;
	text-align: center;
	padding: auto;
}

#drawerhandle>SPAN {
	text-align: center;
	padding: 3px;
}

#drawerborder {
	position: relative;
	float: left;
	left: 20px;
	width: 10px;
	height: 100%;
}

#drawerpane {
	background: #000000;
	height: 100%;
	padding: 10px;
	width: 312px;
}

#drawerbottom {
	position: absolute;
	bottom: 0px;
	left: 50px;
	right: 0px;
	height: 75px;
}

.btn-sw-square {
	height: 75px;
	width: 75px;
	text-align: center;
	font: normal 0.9em/150% 'Abel', sans-serif;
	font-weight: bold;
}

.btn-sw-square>SPAN {
	text-align: center;
	vertical-align: middle;
}

.box {
	float: left;
	line-height: 13px;
    margin: 2px;
}

.undoapply {
	width: 100px;
	height: 40px;
	display: block;
	text-align: center;
	float: left;
	line-height: 7px;
    cursor: pointer;
    
}

.box a:link {
	width: 85px;
	height: 85px;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
    display: block;
}

.box a:active {
	opacity: 0.5;
}

.panel {
	background: #ffffff;
}

.panel_wrapper {
	padding: 10px;
    margin: 2px;
}

#colorselector {
	padding: 0px;
}

IMG.white {
	background-color: #ffffff;
}

IMG.blue {
	background-color: #0046ad;
}

IMG.red {
	background-color: #ee3a43;
}

IMG.orange {
	background-color: #f9a451;
}

IMG.light_blue {
	background-color: #00bce4;
}

IMG.dark_green {
	background-color: #004f39;
}

IMG.green {
	background-color: #00aF3F;
}

IMG.pink {
	background-color: #e0249a;
}

IMG.dark_blue {
	background-color: #083a81;
}

IMG.teal {
	background-color: #4ea590;
}

IMG.purple {
	background: #e0249a;
}

IMG.yellow {
	background: #FecB00;
}

IMG.aqua {
	background: #00877c;
}

IMG.lightgrey {
	background: #cccccc;
}

IMG.grey {
	background: #808080;
}

IMG.darkgrey {
	background: #333333;
}

IMG.black {
	background: #000000;
}

IMG.colorblock {
	width: 45px;
	height: 45px;
	padding: 0px;
	border: solid 1px #fff;
}

IMG.selected {
	border: solid 2px black;
}

.row {}

.controls_wrapper {
	
}

H4 {
	color: #353535;
	/* display: inline; */
}

optionh4 {
	color: #353535;
	display: inline;
}

.topic {
	color: #353535;
}

.panel_wrapper {
	display: none;
}

#submitmessage {
	text-align: center;
	padding: auto;
}

.success {
	color: #00ff00;
}

.warning {
	color: #ff0000;
}

.selected {
    border: dashed 2px #fff;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width: 85px;
	height: 85px;
}
