local/*
*.swp
.project
.pydevproject
*.pyc
*.log
backend/renderd/node_modules
node_modules/*
.idea/vcs.xml
*.xml
.idea/domelights.iml
.idea/.name
config_local.php
__source_assets/Video/TestPattern.aep Logs/AE 2-15-2015 10-12-08 PM.txt
