# Turn on the Apache RewriteEngine and route every request to the framework helper
RewriteEngine On
RewriteBase /frontend_api/
RewriteCond %{REQUEST_FILENAME}	!-f
RewriteCond %{REQUEST_FILENAME}	!-d
RewriteRule .* index.php [L]

Options FollowSymLinks
