<div id='loginscreen' class="container">
	<form class="form-signin">
		<div id='login_message' class=''></div>
		<h2 class="form-signin-heading">Please sign in</h2>
		<label for="inputEmail" class="sr-only">Email address</label>
		<input colore-bind data-parent='#login_button' data-name='username' type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input colore-bind data-parent='#login_button' data-name='password' type="password" id="inputPassword" class="form-control" placeholder="Password" required>
		<div class="checkbox"><label><input colore-bind data-parent='#login_button' data-name='remember' type="checkbox" id='inputRemember' value="remember-me"> Remember me</label></div>
		<button class="btn btn-lg btn-primary btn-block" id='login_button' colore-context='/do-login' type="button">Sign in</button>
	</form>
</div>
<script type="text/javascript" src="/app/listeners.js"></script>
