<div class="container-fluid">
	<header class='row header'>
		<div class='col-md-3'>
			<img src='/assets/images/SWatTWOS_286+368-logo_new.png' />
		</div>
		<div class='col-md-7'>
			<h1>Dome Lights</h1>
		</div>
		<div class='col-md-1'>
			<div id='usercontrol'>
				<span id='userName'></span>
			</div>
		</div>
		<div class='col-md-1'>
			<button id='logout_button' type='button' colore-context='/logout' class='btn btn-sm'>Logout</button>
		</div>
	</header>
</div>
<div id='mainscreen' class="container-fluid">
	<div class='row'>
		<div class='col-md-12'>&nbsp;</div>
	</div>
	<div class='row'>
		<div id='menucontainer' class='col-md-2 sidebar'>
			<ul id='menulist' class='nav nav-sidebar list-group'>	
				<li><a class="list-group-item active" colore-context='/home'>Home</a></li>
				<li><a class="list-group-item" colore-context='/animations'>Animations</a></li>
				<li><a class="list-group-item" colore-context='/controllers'>Controllers</a></li>
				<li><a class="list-group-item" colore-context='/events'>Events</a></li>
				<li><a class="list-group-item" colore-context='/schedules'>Schedules</a></li>
				<li><a class="list-group-item" colore-context='/admins'>Admins</a></li>
				<li><a class="list-group-item" colore-context='/users'>Users</a></li>
				<li><a class="list-group-item" colore-context='/logout'>Logout</a></li>
			</ul>
		</div>
		<div id='ColoreFragment' class='col-md-10'>Main Things</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#userName").html(api.user_info.name);
		myApp.loadFragment("/app/admin/fragments/main.html");
		$('[colore-context]').on('click', function(event) {
			var context = $(this).attr('colore-context');
			var args = $(this).data();
			myApp.dispatch(context, args);
		});
	});
</script>